{% extends 'App/base.html' %}
{% load static %}

{% block title_block %}
    Notification
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 style="color: rebeccapurple; font-weight: bolder; padding-bottom: 40px;">Notifications [Current VR Status]</h2>

    <div style="padding-bottom: 20px">
        {% if gameurl %}
            <h5><strong>Your child is in the game, </strong>
                <a href="{{ gameurl }}" target="_blank" style="color: rebeccapurple;">
                click to enter game activity
                </a>
            </h5>
        {% else %}
            <h5><strong>Your child is not in the game now.</strong></h5>
        {% endif %}
    </div>


    <!-- roll container -->
    <div style="height: 600px; overflow-y: auto; border: 1px solid #ccc; padding: 15px;">
        {% if notifications %}
            {% for notification in notifications %}
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <h5 class="card-title"><strong>{{ notification.child.name }}</strong></h5>
                            </div>
                            <div class="col-6 text-end">
                                <h6 class="card-subtitle mb-2 text-muted">{{ notification.time|date:"Y-m-d H:i" }}</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                <p class="card-text">
                                    {% if notification.type == 1 %}
                                        <span style="font-weight: bold; color: #850000;">Victim!</span>
                                    {% elif notification.type == 2 %}
                                        <span style="font-weight: bold; color: #850000;">Bully!</span>
                                    {% elif notification.type == 4 %}
                                        <span style="font-weight: bold; color: #850000;">Bad Word!</span>
                                    {% elif notification.type == 0 %}
                                        <span style="font-weight: bold;">Enter.</span>
                                    {% elif notification.type == 3 %}
                                        <span style="font-weight: bold;">Exit.</span>
                                    {% endif %}
                                    {% if notification.type == 0 %}
                                        {{ notification.text }}
                                    {% else %}
                                        {{ notification.text }}
                                    {% endif %}
                                    {% if notification.type != 3 %}
                                        <a href="{{ notification.game_url }}" target="_blank" style="color: rebeccapurple;">enter game activity</a>
                                    {% endif %}
                                </p>
                            </div>
                            <div class="col-4 text-end">
                                {% if notification.type != 3 and notification.type != 0 and notification.type != 5 and notification.processed == False %}
                                    <a href="{% url 'urgentprocess' notification.id 1 %}" class="btn" style="background-color: rebeccapurple; color: white;">Click to Process</a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12" style="padding-top: 10px">
                                {% if notification.type != 3 and notification.type != 0 and notification.type != 5 and notification.processed == True %}
                                    <p style="color: gray">Processed by bigBuddy: {{ notification.processed_measures }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div style="width: 100%; display: flex; align-items: center; justify-content: center; height: 100%;">
                <div style="text-align: center; font-size: 1.5em; color: gray;">
                    No activities today.
                </div>
            </div>
        {% endif %}
    </div>
</div>

    <script>
document.addEventListener('DOMContentLoaded', function() {
    const notificationContainer = document.querySelector('div[style="height: 600px; overflow-y: auto; border: 1px solid #ccc; padding: 15px;"]');
    const gameUrlContainer = document.querySelector('div[style="padding-bottom: 20px"]');

    function refreshNotifications() {
        fetch('{% url "fetch_notifications" child_id %}')
            .then(response => response.json())
            .then(data => {
                updateGameUrl(data.gameurl);
                updateNotifications(data.notifications);
            })
            .catch(error => console.error('Error:', error));
    }

    function updateGameUrl(gameurl) {
        let gameContent = '';
        if (gameurl) {
            gameContent = `<h5><strong>Your child is in the game, </strong>
                           <a href="${gameurl}" target="_blank" style="color: rebeccapurple;">
                           click to enter game activity</a></h5>`;
        } else {
            gameContent = `<h5><strong>Your child is not in the game now.</strong></h5>`;
        }
        gameUrlContainer.innerHTML = gameContent;
    }

    function updateNotifications(notifications) {
        let content = '';
        if (notifications.length === 0) {
            content = `
            <div style="width: 100%; display: flex; align-items: center; justify-content: center; height: 100%;">
                <div style="text-align: center; font-size: 1.5em; color: gray;">
                    No activities today.
                </div>
            </div>
        `;
        } else {
            notifications.forEach(function (notification) {
                content += `<div class="card mb-3">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-6">
                                            <h5 class="card-title"><strong>${notification.name}</strong></h5>
                                        </div>
                                        <div class="col-6 text-end">
                                            <h6 class="card-subtitle mb-2 text-muted">${notification.time}</h6>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-8">
                                            <p class="card-text">
                                                ${notification.type == 1 ? '<span style="font-weight: bold; color: #850000;">Victim!</span>' : ''}
                                                ${notification.type == 2 ? '<span style="font-weight: bold; color: #850000;">Bully!</span>' : ''}
                                                ${notification.type == 4 ? '<span style="font-weight: bold; color: #850000;">Bad Word!</span>' : ''}
                                                ${notification.type == 0 ? '<span style="font-weight: bold;">Enter.</span>' : ''}
                                                ${notification.type == 3 ? '<span style="font-weight: bold;">Exit.</span>' : ''}
                                                ${notification.text}
                                                ${notification.game_url ? `<a href="${notification.game_url}" target="_blank" style="color: rebeccapurple;">enter game activity</a>` : ''}
                                            </p>
                                        </div>
                                        <div class="col-4 text-end">
                                            ${(notification.type == 1 || notification.type == 2 || notification.type == 4) && !notification.processed ?
                    `<a href="/urgentprocess/${notification.id}/1" class="btn" style="background-color: rebeccapurple; color: white;">Click to Process</a>` : ''}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12" style="padding-top: 10px">
                                            ${notification.processed && (notification.type != 0 && notification.type != 3 && notification.type != 5) ? `<p style="color: gray">Processed by bigBuddy: ${notification.processed_measures}</p>` : ''}
                                        </div>
                                    </div>
                                </div>
                            </div>`;
            });
        }
        notificationContainer.innerHTML = content;
    }

    setInterval(refreshNotifications, 5000); // Refresh notifications every 5 seconds
});
</script>


{% endblock %}
