.gallery {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}
figure {
    width: 23%;
    margin: 0 1%;
}

img {
    width: 100%;
    height: auto;
}

figcaption {
    text-align: center;
    padding: 5px 0;
    color: #333;
}

a {
    color: #4c39a6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

